@if (loading()) {
  <mat-progress-bar mode="indeterminate" />
} @else if (me(); as m) {
  <mat-toolbar class="topbar">
    <span class="title">Coach</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account">
      @if (m.avatarUrl && !avatarError()) {
        <img class="avatar" [src]="m.avatarUrl" alt="" (error)="avatarError.set(true)" />
      } @else {
        <mat-icon>account_circle</mat-icon>
      }
    </button>
    <mat-menu #menu="matMenu">
      <div class="menu-name">{{ m.displayName }}</div>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon><span>Sign out</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <main class="content">
    <router-outlet />
  </main>

  <nav class="bottom-nav">
    @for (item of nav; track item.path) {
      <a [routerLink]="item.path" routerLinkActive="active" class="nav-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    }
  </nav>
} @else {
  <div class="signin">
    <mat-card appearance="outlined" class="signin-card">
      <mat-card-content>
        <div class="wordmark"><mat-icon>fitness_center</mat-icon> Coach</div>
        <p class="tagline">Your training, paced.</p>
        <a mat-flat-button href="/login">
          <mat-icon>login</mat-icon> Sign in with Nextcloud
        </a>
      </mat-card-content>
    </mat-card>
  </div>
}
