/.nocodb filter=git-crypt diff=git-crypt
/.pvs-license filter=git-crypt diff=git-crypt
/.reminders filter=git-crypt diff=git-crypt
/code/dns/*.tfstate filter=git-crypt diff=git-crypt
/code/dns/*.tfstate.backup filter=git-crypt diff=git-crypt
/code/dns/*.tfvars filter=git-crypt diff=git-crypt
/code/kubes/health/k8s/secret.sh filter=git-crypt diff=git-crypt
/code/kubes/web/org/xinutec/isis/share-auth.yaml filter=git-crypt diff=git-crypt
/.config/grafana/* filter=git-crypt diff=git-crypt
/code/fleet-keys/** filter=git-crypt diff=git-crypt
