@if (barcode(); as barcode) {
  <ng-template #content>
    @if (src(); as url) {
      <img class="thumb" [src]="url" alt="" (error)="onError()" />
      <mat-icon class="badge">photo_camera</mat-icon>
    } @else {
      <mat-icon class="placeholder">add_a_photo</mat-icon>
    }
  </ng-template>

  @if (inApp) {
    <!-- Custom app: a menu offering paste (from the clipboard) or a file pick. -->
    <span
      class="picker"
      appImagePicker
      #picker="imagePicker"
      [clickToOpen]="false"
      [class.busy]="busy()"
      [matMenuTriggerFor]="menu"
      (imagePicked)="onPicked($event)"
      (pickError)="onPickError($event)"
    >
      <ng-container [ngTemplateOutlet]="content" />
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="pasteFromClipboard()">
        <mat-icon>content_paste</mat-icon>
        <span>Paste copied image</span>
      </button>
      <button mat-menu-item (click)="picker.openDialog()">
        <mat-icon>photo_camera</mat-icon>
        <span>Choose or take a photo</span>
      </button>
    </mat-menu>
  } @else {
    <!-- Browser: tap picks a file directly; paste/drag work on the element too. -->
    <span
      class="picker"
      appImagePicker
      [class.busy]="busy()"
      (imagePicked)="onPicked($event)"
      (pickError)="onPickError($event)"
    >
      <ng-container [ngTemplateOutlet]="content" />
    </span>
  }
} @else {
  <mat-icon>label</mat-icon>
}
